.custom-width {
	width: 82% !important;
}

.overflow {
	height: 400px;
	overflow: auto;
}

.item-to-press {
	cursor:pointer; 
}

.position-fixed {
	position: fixed; 
}

.position-relative {
	position: relative; 
	height: 50px;

}

.small-avatar {
	border-radius: 100%;
	display: inline-block;
	height: 70px;
	width: 70px;
}

.contact-info {
	display: inline-block;
	width: 15%;
}

.avatar {
	border-radius: 8%;
	display: inline-block;
}

.clients-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clients-list-item {
	cursor: pointer;
	display: block;
	margin: 3px;

}

.client-list-name {
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
}

.margin-bottom{
	margin-bottom: 10px;
}

::-webkit-scrollbar
{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
	background: rgba(0, 0, 0, 0.5);
}

